
@model LuxyboxIdentity.Data.Product

@{
    ViewBag.Title = "Details";
}



<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <div>
         
                 <p> <img class="detail-image" src="@Model.ImgUrl" /> </p> 
                <p>  <big> @Html.DisplayFor(model => model.Name) </big> </p>
                <p> <b>  @Html.DisplayFor(model => model.Price)  </b> </p>
                <p> <strong> @Html.DisplayFor(model => model.Author) </strong> </p>
                <p> <strong> @Html.DisplayFor(model => model.Publisher) </strong> </p>
               

        




            <p><em> @Html.DisplayFor(model => model.Info)</em></p>
        </div>



    </dl>
</div>

<div class="clearfix"></div>
@Html.ActionLink("AddToBuy", "AddToBuy");