@model List<LuxyboxIdentity.Data.Product>

@{ ViewBag.Title = "Kitaplar";}

<p>

@Html.ActionLink("Bilim-Kurgu", "/Products/3");
@Html.ActionLink("Roman", "/Products/4");
@Html.ActionLink("Deneme", "/Products/5");
@Html.ActionLink("Öykü", "/Products/6");
@Html.ActionLink("Fantastik", "/Products/7");
@Html.ActionLink("Biyografi", "/Products/8");
@Html.ActionLink("Kişisel Gelişim", "/Products/9");
@Html.ActionLink("Eleştiri", "/Products/10");
@Html.ActionLink("Rus Edebiyatı", "/Products/11");
@Html.ActionLink("Çocuk Kitapları", "/Products/13");
@Html.ActionLink("Felsefe Kitapları", "/Products/14");
@Html.ActionLink("Sağlık Kitapları", "/Products/15");
 </p>
@{
    <div>
        @foreach (var product in Model)
        {
            <div class="products">
                <div class="product-row">
                    <a href="@Url.Action("Details", "Home", new { id = product.Id })">

                        <img class="product-image" src="@product.ImgUrl" />

                        <p class="product-name">@product.Name</p>
                        <p class="product-price" @product.Price></p>


                </div>
            </div>

        }
    </div>
}

<div class="clearfix"></div>